body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#app {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #f3e5f5;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.ex h2 {
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
}

#result {
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
}

#sap-xep,
#xin-chao,
#triangle {
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
}

.counter {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: 80px;
  padding: 0 8px;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
}

.counter p {
  height: 50%;
  align-items: center;
}

.ex {
  padding: 20px 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.boxShadow {
  box-shadow: none;
}

select {
  width: 35%;
  border: 1px solid #fff;
  border-radius: 4px;
}

select:focus-visible {
  outline: none;
}

.btn-primary {
  background-color: #af8eb5;
  color: #000000;
  border: none;
}
